<div class="grid align-items-center p-4">
  <img src="../../../../assets/header/header-logo.png" class="mr-5" alt="logo" height="40px" width="94px">
  <div class="col" id="links">
    <a class="mr-3 header-link" [routerLink]="'/search'">Encuentra una ubicación</a>
    <a class="mr-3 header-link" routerLink="/solutions">Soluciones</a>
    <a class="header-link" routerLink="/enterprise">Grandes empresas</a>
  </div>
  <button class="px-3 py-2 mr-5" id="contact-button">Contacto</button>
  <a class="header-link" routerLink="/login">Inicio de sesión de miembros</a>
</div>
