<div class="grid align-items-center p-4" id="header">
  <img src="../../../../assets/header/header-logo.png" class="mr-5" alt="logo" height="40px" width="94px">
  <div class="col" id="links">
    <a class="mr-3 header-link" href="https://www.wework.com/es-LA/search">Encuentra una ubicación</a>
    <a class="mr-3 header-link" href="https://www.wework.com/es-LA/solutions">Soluciones</a>
    <a class="header-link" href="https://www.wework.com/es-LA/enterprise">Grandes empresas</a>
  </div>
  <button class="px-3 py-2 mr-5" id="contact-button">Contacto</button>
  <a class="header-link" href="https://members.wework.com/">Inicio de sesión de miembros</a>
</div>
